src/xml/schemas/AnalysisChain.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# Copyright (C) 2003 Open Microscopy Environment
#       Massachusetts Institue of Technology,
#       National Institutes of Health,
#       University of Dundee
#
#
#
#    This library is free software; you can redistribute it and/or
#    modify it under the terms of the GNU Lesser General Public
#    License as published by the Free Software Foundation; either
#    version 2.1 of the License, or (at your option) any later version.
#
#    This library is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#    Lesser General Public License for more details.
#
#    You should have received a copy of the GNU Lesser General Public
#    License along with this library; if not, write to the Free Software
#    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->




<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Written by:  
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->



<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "AnalysisChain">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Nodes"/>
				<xsd:element ref = "Links"/>
			</xsd:sequence>
			<xsd:attribute name = "Name" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "Locked" default = "false" type = "xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Nodes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Node" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Node">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "NodeID" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "ProgramName" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "IteratorTag" type = "xsd:string"/>
			<xsd:attribute name = "NewFeatureTag" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Links">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Link" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Link">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "FromNodeID" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "FromOutputName" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "ToNodeID" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "ToInputName" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AnalysisChains">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "AnalysisChain" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>