src/xml/schemas/BinaryFile.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.openmicroscopy.org/XMLschemas/BinaryFile/RC1/BinaryFile.xsd"
	 xmlns:Bin = "http://www.openmicroscopy.org/XMLschemas/BinaryFile/RC1/BinaryFile.xsd"
	 version = "RC1"
	 elementFormDefault = "qualified">
	<import namespace = "http://www.w3.org/XML/1998/namespace"/>
	<element name = "BinaryFile">
		<annotation>
			<documentation>Describes a binary file.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name = "External">
					<annotation>
						<documentation>Describes a file location.</documentation>
					</annotation>
					<complexType>
						<attribute name = "Compression">
							<annotation>
								<documentation>Only necessary if file is compressed.</documentation>
							</annotation>
							<simpleType>
								<restriction base = "string">
									<enumeration value = "gzip"/>
									<enumeration value = "bzip2"/>
								</restriction>
							</simpleType>
						</attribute>
						<attribute name = "SHA1" use = "required" type = "Bin:Hex40"/>
						<attribute name = "Offset" type = "integer"/>
						<attribute name = "href" use = "required" type = "anyURI">
							<annotation>
								<documentation>file location</documentation>
							</annotation>
						</attribute>
					</complexType>
				</element>
				<element name = "BinData" type = "base64Binary"/>
			</sequence>
			<attribute name = "FileName">
				<simpleType>
					<restriction base = "string">
						<maxLength value = "64"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
	<simpleType name = "Hex40">
		<restriction base = "hexBinary">
			<length value = "20"/>
		</restriction>
	</simpleType>
</schema>
