src/xml/schemas/BinaryFile.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# Copyright (C) 2003 Open Microscopy Environment
#       Massachusetts Institue of Technology,
#       National Institutes of Health,
#       University of Dundee
#
#
#
#    This library is free software; you can redistribute it and/or
#    modify it under the terms of the GNU Lesser General Public
#    License as published by the Free Software Foundation; either
#    version 2.1 of the License, or (at your option) any later version.
#
#    This library is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#    Lesser General Public License for more details.
#
#    You should have received a copy of the GNU Lesser General Public
#    License along with this library; if not, write to the Free Software
#    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->




<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Written by:  
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->



<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.openmicroscopy.org/XMLschemas/BinaryFile/RC1/BinaryFile.xsd"
	 xmlns:Bin = "http://www.openmicroscopy.org/XMLschemas/BinaryFile/RC1/BinaryFile.xsd"
	 version = "RC1"
	 elementFormDefault = "qualified">
	<import namespace = "http://www.w3.org/XML/1998/namespace"/>
	<element name = "External">
		<annotation>
			<documentation>Describes a file location.  Can optionally specify an Offset and a ReadLength, both in bytes.
The SHA1 digest of the file is required.  If the file is compressed, the SHA1 digest is of the compressed file.
			</documentation>
		</annotation>
		<complexType>
			<attribute name = "href" use = "required" type = "anyURI">
				<annotation>
					<documentation>file location</documentation>
				</annotation>
			</attribute>
			<attribute name = "SHA1" use = "required" type = "Bin:Hex40"/>
			<attribute name = "Compression" default = "none">
				<annotation>
					<documentation>Specifies the compression scheme used to encode the data.</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<enumeration value = "zlib"/>
						<enumeration value = "bzip2"/>
						<enumeration value = "none"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "Offset" type = "positiveInteger"/>
			<attribute name = "ReadLength" type = "positiveInteger"/>
		</complexType>
	</element>
	<element name = "BinData">
		<annotation>
			<documentation>The contents of this element are base64-encoded.  These are not CDATA sections, just a base64 stream.</documentation>
		</annotation>
		<complexType>
			<simpleContent>
				<extension base = "base64Binary">
					<attribute name = "Compression" default = "none">
						<annotation>
							<documentation>Specifies the compression scheme used to encode the data. </documentation>
						</annotation>
						<simpleType>
							<restriction base = "string">
								<enumeration value = "zlib"/>
								<enumeration value = "bzip2"/>
								<enumeration value = "none"/>
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name = "BinaryFile">
		<annotation>
			<documentation>Describes a binary file.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "Bin:External"/>
				<element ref = "Bin:BinData"/>
			</sequence>
			<attribute name = "FileName">
				<simpleType>
					<restriction base = "string">
						<maxLength value = "64"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
	<simpleType name = "Hex40">
		<restriction base = "hexBinary">
			<length value = "20"/>
		</restriction>
	</simpleType>
</schema>
