src/xml/schemas/CA.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.openmicroscopy.org/XMLschemas/CA/RC1/CA.xsd"
	 targetNamespace = "http://www.openmicroscopy.org/XMLschemas/CA/RC1/CA.xsd"
	 xmlns:OME = "http://www.openmicroscopy.org/XMLschemas/OME/RC6/ome.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.0"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://www.openmicroscopy.org/XMLschemas/OME/RC6/ome.xsd" schemaLocation = "http://www.openmicroscopy.org/XMLschemas/OME/RC6/ome.xsd"/>
	<xsd:element name = "OME">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "OME:DocumentGroup"/>
				<xsd:element ref = "Project"/>
				<xsd:element ref = "Dataset"/>
				<xsd:element ref = "Image"/>
				<xsd:element ref = "CustomAttributes"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Dataset">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base">
					<xsd:sequence>
						<xsd:element ref = "CustomAttributes" minOccurs = "0"/>
					</xsd:sequence>
					<xsd:attribute name = "Locked" type = "xsd:boolean"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Image">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base">
					<xsd:sequence>
						<xsd:element ref = "CustomAttributes" minOccurs = "0"/>
					</xsd:sequence>
					<xsd:attribute name = "CreationDate" type = "xsd:dateTime"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Feature">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CustomAttributes" minOccurs = "0"/>
				<xsd:element ref = "Feature" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CustomAttributes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:any/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Project">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Ref">
		<xsd:complexType>
			<xsd:attribute name = "DocID" type = "OME:GUID"/>
			<xsd:attribute name = "Name" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "ID" use = "required" type = "OME:GUID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "Base">
		<xsd:sequence>
			<xsd:element ref = "Ref" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
		<xsd:attribute name = "Name" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "ID" use = "required" type = "OME:GUID"/>
		<xsd:attribute name = "Description" type = "xsd:string"/>
	</xsd:complexType>
</xsd:schema>