src/xml/schemas/CA.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!-- Copyright (C) 2003 Open Microscopy Environment
     Author:  
      
          This library is free software; you can redistribute it and/or
          modify it under the terms of the GNU Lesser General Public
          License as published by the Free Software Foundation; either
          version 2.1 of the License, or (at your option) any later version.
     
          This library is distributed in the hope that it will be useful,
          but WITHOUT ANY WARRANTY; without even the implied warranty of
          MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
          Lesser General Public License for more details.
     
          You should have received a copy of the GNU Lesser General Public
          License along with this library; if not, write to the Free Software
          Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA 
-->

<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.openmicroscopy.org/XMLschemas/CA/RC1/CA.xsd"
	 targetNamespace = "http://www.openmicroscopy.org/XMLschemas/CA/RC1/CA.xsd"
	 xmlns:OME = "http://www.openmicroscopy.org/XMLschemas/OME/FC/ome.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.0"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://www.openmicroscopy.org/XMLschemas/OME/FC/ome.xsd" schemaLocation = "http://www.openmicroscopy.org/XMLschemas/OME/FC/ome.xsd"/>
	<xsd:element name = "OME">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Project"/>
				<xsd:element ref = "Dataset"/>
				<xsd:element ref = "Image"/>
				<xsd:element ref = "CustomAttributes"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Dataset">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ProjectRef" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "CustomAttributes" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "ID" use = "required" type = "OME:DatasetID"/>
			<xsd:attribute name = "Name" type = "xsd:string"/>
			<xsd:attribute name = "Description" type = "xsd:string"/>
			<xsd:attribute name = "Locked" type = "xsd:boolean"/>
			<xsd:attribute name = "Experimenter" type = "OME:ExperimenterID"/>
			<xsd:attribute name = "Group" type = "OME:GroupID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Image">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "DatasetRef" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "Feature" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "CustomAttributes" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "ID" use = "required" type = "OME:ImageID"/>
			<xsd:attribute name = "Name" type = "xsd:string"/>
			<xsd:attribute name = "CreationDate" type = "xsd:dateTime"/>
			<xsd:attribute name = "Description" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Feature">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Feature" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "CustomAttributes" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "ID" use = "required" type = "OME:FeatureID"/>
			<xsd:attribute name = "Name" type = "xsd:string"/>
			<xsd:attribute name = "Tag" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CustomAttributes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:any namespace = "##any" processContents = "strict"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Project">
		<xsd:complexType>
			<xsd:attribute name = "ID" use = "required" type = "OME:ProjectID"/>
			<xsd:attribute name = "Name" type = "xsd:string"/>
			<xsd:attribute name = "Description" type = "xsd:string"/>
			<xsd:attribute name = "Experimenter" type = "OME:ExperimenterID"/>
			<xsd:attribute name = "Group" type = "OME:GroupID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DatasetRef">
		<xsd:complexType>
			<xsd:attribute name = "ID" use = "required" type = "OME:DatasetID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ProjectRef">
		<xsd:complexType>
			<xsd:attribute name = "ID" use = "required" type = "OME:ProjectID"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>