src/xml/schemas/DataHistory.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "DataHistory">
		<xsd:annotation>
			<xsd:documentation>Describes all known history of data.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ModuleExecution" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ModuleExecution">
		<xsd:annotation>
			<xsd:documentation>Describes one run of a module. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Input" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "Output" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "Module" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>References a module by LSID</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name = "ID" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>GUID for this module execution</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name = "Timestamp" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>When the module was executed.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name = "Dataset" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Dataset this was run against.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name = "Dependence" use = "required">
				<xsd:annotation>
					<xsd:documentation>Module Execution Dependence.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "G"/>
						<xsd:enumeration value = "D"/>
						<xsd:enumeration value = "I"/>
						<xsd:enumeration value = "F"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "Status" type = "xsd:string"/>
			<xsd:attribute name = "RunTime" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>How long the module took to run. </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Input">
		<xsd:annotation>
			<xsd:documentation>Identifies a set of attributes that satisfied a formal input.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "AttributeRef" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "Name" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Formal Input name</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Output">
		<xsd:annotation>
			<xsd:documentation>Identifies a set of attributes that were generated by a formal output.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "AttributeRef" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "Name" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Formal Output Name</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AttributeRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an attribute.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "ID" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>References an attribute by LSID or id local to document.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>