src/xml/CLIExecutionInstructions.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:group name = "inputRecordModel">
		<xsd:choice>
			<xsd:element ref = "Input"/>
			<xsd:element ref = "XYPlane"/>
			<xsd:element ref = "RawImageFile"/>
			<xsd:element ref = "RawImageFilePath"/>
			<xsd:element ref = "sizeT"/>
			<xsd:element ref = "sizeW"/>
			<xsd:element ref = "sizeX"/>
			<xsd:element ref = "sizeY"/>
			<xsd:element ref = "sizeZ"/>
			<xsd:element ref = "BitsPerPixel"/>
			<xsd:element ref = "BytesPerPixel"/>
			<xsd:element ref = "RawText"/>
		</xsd:choice>
	</xsd:group>
	<xsd:element name = "ExecutionInstructions">
		<xsd:annotation>
			<xsd:documentation>Tied to DB. Table PROGRAMS Column EXECUTION
			
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CommandLine" minOccurs = "0"/>
				<xsd:element ref = "STDIN" minOccurs = "0"/>
				<xsd:element ref = "STDOUT" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "ExecutionPoint" use = "required">
				<xsd:annotation>
					<xsd:documentation>Assigns a execution point for the analysis.

					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "precalculateDataset"/>
						<xsd:enumeration value = "precalculateImage"/>
						<xsd:enumeration value = "calculateFeature"/>
						<xsd:enumeration value = "postcalculateImage"/>
						<xsd:enumeration value = "postcalculateDataset"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "MakesNewFeature" default = "false" type = "xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CommandLine">
		<xsd:annotation>
			<xsd:documentation>This describes the string that will be passed to a command line program via command line parameters. The command line handler will perform basic variable substitution on sub elements of this.
Example:
when you use the program, you type: /OME/bin/OME_Image_XYZ_stats Path=[path to repository file] Dims=[X],[Y],[Z],[W],[T],[BytesPerPix]
XML specification of the command line parameters is:
&lt;CommandLine>Path=&lt;RawImageFilePath/> Dims=&lt;sizeX/>,&lt;sizeY/>,&lt;sizeZ/>,&lt;sizeW/>,&lt;sizeT/>,&lt;BPP/>&lt;/CommandLine>
			
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "InputSubString" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "STDIN">
		<xsd:annotation>
			<xsd:documentation>This specifies what and how to write to STDIN.

Not yet supported.
			
			
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "InputRecord" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "STDOUT">
		<xsd:annotation>
			<xsd:documentation>This specifies what and how to read STDOUT.
			
			
			
			
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "OutputRecord" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Input">
		<xsd:annotation>
			<xsd:documentation>References a particular column in a FormalInput. Used for variable substitution.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "FormalInputName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a formal input</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "SemanticElementName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a semantic element (ATTRIBUTE_COLUMN in DB lingo).</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Output">
		<xsd:annotation>
			<xsd:documentation>References a particular column of a FormalOutput.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "OutputTo" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "AccessBy" use = "required" type = "xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Describes how to access information extracted using a regular expression. Examples are 1, 2, 3, ...</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "theZ">
		<xsd:annotation>
			<xsd:documentation>Describes how the Z constraints of the XY plane should be produced or acquired.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "AutoIterate"/>
				<xsd:element ref = "UseValue"/>
				<xsd:element ref = "IterateRange"/>
				<xsd:element ref = "Match"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "theW">
		<xsd:annotation>
			<xsd:documentation>Describes how the wavenumber constraints of the XY plane should be produced or acquired.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "AutoIterate"/>
				<xsd:element ref = "UseValue"/>
				<xsd:element ref = "IterateRange"/>
				<xsd:element ref = "Match"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "theT">
		<xsd:annotation>
			<xsd:documentation>Describes how the time constraints of the XY plane should be produced or acquired.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "AutoIterate"/>
				<xsd:element ref = "UseValue"/>
				<xsd:element ref = "IterateRange"/>
				<xsd:element ref = "Match"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "XYPlane">
		<xsd:annotation>
			<xsd:documentation>Describes an XY plane. Used with variable substitution. This will be substituted with a dynamically generated plane.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "theZ"/>
				<xsd:element ref = "theT"/>
				<xsd:element ref = "theW"/>
			</xsd:sequence>
			<xsd:attribute name = "BPP">
				<xsd:annotation>
					<xsd:documentation>Specifies bits per pixel (BPP) the module is expecting. If the program can deal with either 8 or 16 bit images, leave this out or specify 16. Both of these result in the BPP of the image being used. That is, if the image is 8 bits, the module will get an 8 bits per pixel. If the image is 16 bits, the module will get 16 bits per pixel.

Currently, only native image pixels are supported.
					
					
					
					
					
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:integer">
						<xsd:enumeration value = "8"/>
						<xsd:enumeration value = "16"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "Format">
				<xsd:annotation>
					<xsd:documentation>Specifies the expected format of the plane.
RAW corrosponds to OME repository format of pixel dump.
TIFF corrosponds to TIFF files.

Currently only TIFF is supported.
					
					
					
					
					
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "RAW"/>
						<xsd:enumeration value = "TIFF"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "XYPlaneID" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Needed if you need another plane to match indexes. Referenced by the Match element. Verification against the schema will not detect an error here if you make a typo.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name = "Return">
				<xsd:annotation>
					<xsd:documentation>Specifies whether to the program needs the FilePath or the FileContents. Currently, only the FilePath is supported.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "FilePath"/>
						<xsd:enumeration value = "File"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "sizeX">
		<xsd:annotation>
			<xsd:documentation>Used with variable substitution. This is substituted for the X dimension of the image. Used in the context of per image processing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "sizeY">
		<xsd:annotation>
			<xsd:documentation>Used with variable substitution. This is substituted for the Y dimension of the image. Used in the context of per image processing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "sizeZ">
		<xsd:annotation>
			<xsd:documentation>Used with variable substitution. This is substituted for the Z dimension of the image. Used in the context of per image processing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "sizeT">
		<xsd:annotation>
			<xsd:documentation>Used with variable substitution. This is substituted for the T dimension of the image. Used in the context of per image processing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "sizeW">
		<xsd:annotation>
			<xsd:documentation>Used with variable substitution. This is substituted for the W dimension of the image. Used in the context of per image processing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "RawImageFilePath">
		<xsd:annotation>
			<xsd:documentation>Used with variable substitution. This will be substituted with the path and file of the raw pixel dump image file.
e.g. /OME/repository/1-tinyTest.ori

			
			
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "RawImageFile">
		<xsd:annotation>
			<xsd:documentation>Used with variable substitution. This will be substituted with the binary contents of the repository file.

Not yet supported.
			
			
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "InputRecord">
		<xsd:annotation>
			<xsd:documentation>Groups a set of inputs into records.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed = "true">
			<xsd:choice>
				<xsd:element ref = "InputSubString" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:choice>
			<xsd:attribute name = "RepeatCount" type = "xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>RepeatCount specifies how many times to write a record. If it is not specified, writing will continue until it runs out of things to write.
					
					
					
					
					
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "OutputRecord">
		<xsd:annotation>
			<xsd:documentation>Groups a set of outputs into records.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "pat"/>
				<xsd:element ref = "Output" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "RepeatCount" type = "xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>RepeatCount specifies how many times to read a record. If it is not specified, reading will continue until it reaches the end of the output stream.
If used in conjuction with TerminateAt, reading will stop after RepeatCount or TerminateAt, whichever comes first.
				
					
					
					
					
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name = "TerminateAt" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>TerminateAt specifies a regular expression. When a match to this is found, reading will stop.
If used in conjuction with RepeatCount, reading will stop after RepeatCount or TerminateAt, whichever comes first.
					
					
					
					
					
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "BitsPerPixel">
		<xsd:annotation>
			<xsd:documentation>Used for variable substitution. This is substituted for bits per pixel.  Used in the context of per image processing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "pat" type = "xsd:string">
		<xsd:annotation>
			<xsd:documentation>Contains a regular expression. Checked for compilation when the module is imported.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "BytesPerPixel">
		<xsd:annotation>
			<xsd:documentation>Used for variable substitution. This is substituted for bytes per pixel. Used in the context of per image processing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "Match">
		<xsd:annotation>
			<xsd:documentation>Used to reference the index method used by another XYplane. Effectively syncs the planes on certain dimensions. Use with caution. Unsynced dimensions need to be compatible.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "XYPlaneID" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>References another Plane. Verification against the schema will not detect an error here if you make a typo.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "UseValue">
		<xsd:annotation>
			<xsd:documentation>Use an input value. References an input, does not produce an output.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "FormalInputName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a formal input</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "SemanticElementName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a semantic element (ATTRIBUTE_COLUMN in DB lingo).</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AutoIterate">
		<xsd:annotation>
			<xsd:documentation>Iterates a dimension over its entire range. Produces outputs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "FormalOutputName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a formal output</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "SemanticElementName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a semantic element (ATTRIBUTE_COLUMN in DB lingo).</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "IterateRange">
		<xsd:annotation>
			<xsd:documentation>Iterate this dimension over a range of values. Produces outputs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Start"/>
				<xsd:element ref = "End"/>
			</xsd:sequence>
			<xsd:attribute name = "FormalOutputName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a formal output</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "SemanticElementName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a semantic element (ATTRIBUTE_COLUMN in DB lingo).</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "End">
		<xsd:annotation>
			<xsd:documentation>Specifies an end point of iteration.

Not currently supported.
			
			
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "FormalInputName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a formal input</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "SemanticElementName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a semantic element (ATTRIBUTE_COLUMN in DB lingo).</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Start">
		<xsd:annotation>
			<xsd:documentation>Specifies a starting point of iteration. 

Not currently supported.
			
			
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "FormalInputName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a formal input</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "SemanticElementName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a semantic element (ATTRIBUTE_COLUMN in DB lingo).</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "OutputTo">
		<xsd:annotation>
			<xsd:documentation>Specifies location to write output. One data chunk that the Output element references may be written to one or more places.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "FormalOutputName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a formal output</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "SemanticElementName" use = "required">
				<xsd:annotation>
					<xsd:documentation>References a semantic element (ATTRIBUTE_COLUMN in DB lingo).</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RawText" type = "xsd:string"/>
	<xsd:element name = "InputSubString">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "Input"/>
				<xsd:element ref = "XYPlane"/>
				<xsd:element ref = "RawImageFile"/>
				<xsd:element ref = "RawImageFilePath"/>
				<xsd:element ref = "sizeT"/>
				<xsd:element ref = "sizeW"/>
				<xsd:element ref = "sizeX"/>
				<xsd:element ref = "sizeY"/>
				<xsd:element ref = "sizeZ"/>
				<xsd:element ref = "BitsPerPixel"/>
				<xsd:element ref = "BytesPerPixel"/>
				<xsd:element ref = "RawText"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>