src/xml/ome.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "OME"
	 targetNamespace = "OME"
	 xmlns: = "OME"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = ""
	 elementFormDefault = "qualified">
	<xsd:element name = "OME">
		<xsd:annotation>
			<xsd:documentation>The OME tag may contain one or more Dataset tags.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Project" minOccurs = "0"/>
				<xsd:element ref = "Dataset" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Dataset">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GUID" minOccurs = "0"/>
				<xsd:element ref = "CreationDate"/>
				<xsd:element ref = "Description" minOccurs = "0"/>
				<xsd:element ref = "Project" minOccurs = "0"/>
				<xsd:element ref = "Thumbnail" minOccurs = "0"/>
				<xsd:element ref = "Experimenter" minOccurs = "0"/>
				<xsd:element ref = "GroupName" minOccurs = "0"/>
				<xsd:element ref = "XYinfo" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "XYZinfo" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "WavelengthInfo" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "DisplayOptions" minOccurs = "0"/>
				<xsd:element ref = "Instrument" minOccurs = "0"/>
				<xsd:choice minOccurs = "0">
					<xsd:element ref = "StageLabel"/>
					<xsd:element ref = "ScreenInfo"/>
				</xsd:choice>
				<xsd:element ref = "Data"/>
			</xsd:sequence>
			<xsd:attribute ref = "Name" use = "required"/>
			<xsd:attribute name = "DatasetType" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "SizeX" use = "required" type = "xsd:positiveInteger"/>
			<xsd:attribute name = "SizeY" use = "required" type = "xsd:positiveInteger"/>
			<xsd:attribute name = "SizeZ" use = "required" type = "xsd:positiveInteger"/>
			<xsd:attribute name = "NumWaves" use = "required" type = "xsd:positiveInteger"/>
			<xsd:attribute name = "NumTimes" use = "required" type = "xsd:positiveInteger"/>
			<xsd:attribute name = "PixelSizeX" use = "required" type = "xsd:float"/>
			<xsd:attribute name = "PixelSizeY" use = "required" type = "xsd:float"/>
			<xsd:attribute name = "PixelSizeZ" use = "required" type = "xsd:float"/>
			<xsd:attribute name = "TimeIncrement" type = "xsd:float"/>
			<xsd:attribute name = "WaveStart" type = "xsd:integer"/>
			<xsd:attribute name = "WaveIncrement" type = "xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GUID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:hexBinary">
				<xsd:length value = "40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "BigEndian" type = "xsd:boolean"/>
	<xsd:element name = "DimensionOrder">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:enumeration value = "XYZWT"/>
				<xsd:enumeration value = "XYZTW"/>
				<xsd:enumeration value = "XYWTZ"/>
				<xsd:enumeration value = "XYWZT"/>
				<xsd:enumeration value = "XYTZW"/>
				<xsd:enumeration value = "XYTWZ"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "XYZinfo">
		<xsd:annotation>
			<xsd:documentation>One of these per XYZ stack in the dataset (optional).  A single plane dataset is still technically a stack.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "DeltaTime" minOccurs = "0"/>
				<xsd:element ref = "Centroid" minOccurs = "0"/>
				<xsd:element ref = "Stats" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute ref = "WaveNumber" use = "required"/>
			<xsd:attribute ref = "TimePoint" use = "required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "XYinfo">
		<xsd:annotation>
			<xsd:documentation>One of these per plane in the dataset (optional).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "DeltaTime" minOccurs = "0"/>
				<xsd:element ref = "ExpTime" minOccurs = "0"/>
				<xsd:element ref = "StagePos" minOccurs = "0"/>
				<xsd:element ref = "Stats" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute ref = "Zsection" use = "required"/>
			<xsd:attribute ref = "WaveNumber" use = "required"/>
			<xsd:attribute ref = "TimePoint" use = "required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CreationDate" type = "xsd:dateTime"/>
	<xsd:element name = "WaveNumber" type = "xsd:integer"/>
	<xsd:element name = "Timepoint" type = "xsd:integer"/>
	<xsd:element name = "DeltaTime" type = "xsd:float"/>
	<xsd:element name = "ExpTime" type = "xsd:float"/>
	<xsd:element name = "CentroidX" type = "xsd:float"/>
	<xsd:element name = "CentroidY" type = "xsd:float"/>
	<xsd:element name = "CentroidZ" type = "xsd:float"/>
	<xsd:element name = "BitsPerPixel">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:integer">
				<xsd:enumeration value = "1"/>
				<xsd:enumeration value = "8"/>
				<xsd:enumeration value = "16"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "Data">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "External"/>
				<xsd:element ref = "BinData"/>
			</xsd:choice>
			<xsd:attribute name = "DimensionOrder" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "XYZWT"/>
						<xsd:enumeration value = "XYZTW"/>
						<xsd:enumeration value = "XYWTZ"/>
						<xsd:enumeration value = "XYWZT"/>
						<xsd:enumeration value = "XYTWZ"/>
						<xsd:enumeration value = "XYTZW"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "BitsPerPixel" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:integer">
						<xsd:enumeration value = "1"/>
						<xsd:enumeration value = "8"/>
						<xsd:enumeration value = "16"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "BigEndian" use = "required" type = "xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "External">
		<xsd:complexType>
			<xsd:attribute ref = "href" use = "required"/>
			<xsd:attribute name = "Offset" type = "xsd:integer"/>
			<xsd:attribute name = "SHA1" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:hexBinary">
						<xsd:length value = "40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "Compression">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "gzip"/>
						<xsd:enumeration value = "bzip2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "BinData" type = "xsd:base64Binary"/>
	<xsd:attribute name = "href" type = "xsd:anyURI"/>
	<xsd:element name = "StagePos">
		<xsd:complexType>
			<xsd:attribute ref = "X" use = "required"/>
			<xsd:attribute ref = "Y" use = "required"/>
			<xsd:attribute ref = "Z"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:attribute name = "X" type = "xsd:float"/>
	<xsd:attribute name = "Y" type = "xsd:float"/>
	<xsd:attribute name = "Z" type = "xsd:float"/>
	<xsd:element name = "Stats">
		<xsd:complexType>
			<xsd:attribute name = "Min" use = "required" type = "xsd:integer"/>
			<xsd:attribute name = "Max" use = "required" type = "xsd:integer"/>
			<xsd:attribute name = "Mean" use = "required" type = "xsd:float"/>
			<xsd:attribute name = "GeoMean" type = "xsd:float"/>
			<xsd:attribute name = "Sigma" type = "xsd:float"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ExWave" type = "xsd:integer"/>
	<xsd:element name = "EmWave" type = "xsd:integer"/>
	<xsd:element name = "NDfilter">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:float">
				<xsd:maxInclusive value = "1.0"/>
				<xsd:minInclusive value = "0.0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "WavelengthInfo">
		<xsd:annotation>
			<xsd:documentation>If used, there must be one per wavelength in the dataset.
If used, either the fluor or the excitation and emission wavelengths (in nm) or both must be specified.
Either WavelengthInfo or the WaveStart and WaveIncrement Dataset attributes must be used.
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ExWave" minOccurs = "0"/>
				<xsd:element ref = "EmWave" minOccurs = "0"/>
				<xsd:element ref = "Fluor" minOccurs = "0"/>
				<xsd:element ref = "NDfilter" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute ref = "WaveNumber" use = "required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DisplayOptions">
		<xsd:annotation>
			<xsd:documentation>There is only one of these per dataset (optional).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref = "RedWave"/>
						<xsd:element ref = "GreenWave"/>
						<xsd:element ref = "BlueWave"/>
					</xsd:sequence>
					<xsd:element ref = "GreyWave"/>
				</xsd:choice>
				<xsd:element ref = "Projection" minOccurs = "0"/>
				<xsd:element ref = "Movie" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "Zoom" type = "xsd:float"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RedWave" type = "WaveScaleType"/>
	<xsd:element name = "GreenWave" type = "WaveScaleType"/>
	<xsd:element name = "BlueWave" type = "WaveScaleType"/>
	<xsd:element name = "GreyWave" type = "WaveScaleType"/>
	<xsd:complexType name = "WaveScaleType">
		<xsd:attribute ref = "WaveNumber" use = "required"/>
		<xsd:attribute ref = "Threshold" use = "required"/>
		<xsd:attribute ref = "Clip" use = "required"/>
		<xsd:attribute ref = "Scale"/>
	</xsd:complexType>
	<xsd:attribute name = "Threshold" default = "" type = "xsd:integer"/>
	<xsd:attribute name = "Clip" default = "" type = "xsd:integer"/>
	<xsd:attribute name = "Scale" default = "" type = "xsd:float"/>
	<xsd:element name = "Projection">
		<xsd:complexType>
			<xsd:attribute name = "Zstart" use = "required" type = "xsd:integer"/>
			<xsd:attribute name = "Zstop" use = "required" type = "xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Movie">
		<xsd:complexType>
			<xsd:attribute name = "Tstart" use = "required" type = "xsd:integer"/>
			<xsd:attribute name = "Tstop" use = "required" type = "xsd:integer"/>
			<xsd:attribute ref = "MIMEtype" use = "required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Instrument">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Microscope"/>
				<xsd:element ref = "Camera"/>
				<xsd:element ref = "Objective"/>
				<xsd:element ref = "Filters"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "StageLabel" type = "xsd:string"/>
	<xsd:element name = "ScreenInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Sample"/>
				<xsd:element ref = "Well"/>
				<xsd:element ref = "Plate"/>
				<xsd:element ref = "Screen"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Experimenter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "OMEname"/>
				<xsd:element ref = "FirstName"/>
				<xsd:element ref = "LastName"/>
				<xsd:element ref = "email"/>
				<xsd:element ref = "GroupName"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GroupName" type = "xsd:string"/>
	<xsd:element name = "OMEname" type = "xsd:string"/>
	<xsd:element name = "FirstName" type = "xsd:string"/>
	<xsd:element name = "LastName" type = "xsd:string"/>
	<xsd:element name = "email" type = "xsd:string"/>
	<xsd:element name = "Plate">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute ref = "ExternRef"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PlateExternRef" type = "xsd:string"/>
	<xsd:element name = "Sample">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:integer">
					<xsd:attribute ref = "ExternRef"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Well" type = "xsd:string"/>
	<xsd:element name = "Screen">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute ref = "ExternRef"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SampleExternRef" type = "xsd:string"/>
	<xsd:element name = "ScreenExternRef" type = "xsd:string"/>
	<xsd:element name = "Objective" type = "ManufactSpec"/>
	<xsd:element name = "Filters">
		<xsd:complexType>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element ref = "ExFilter"/>
					<xsd:element ref = "EmFilter"/>
				</xsd:sequence>
				<xsd:element ref = "FilterSet"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Magnification" type = "xsd:float"/>
	<xsd:element name = "LensNA" type = "xsd:float"/>
	<xsd:element name = "ExFilter" type = "ManufactSpec"/>
	<xsd:element name = "EmFilter" type = "ManufactSpec"/>
	<xsd:element name = "FilterSet" type = "ManufactSpec"/>
	<xsd:element name = "Camera" type = "ManufactSpec"/>
	<xsd:element name = "Description" type = "xsd:string"/>
	<xsd:element name = "Microscope" type = "ManufactSpec"/>
	<xsd:complexType name = "ManufactSpec">
		<xsd:attribute name = "Manufacturer" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "ModelNumber" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "CatalogNumber" use = "required" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:element name = "Thumbnail">
		<xsd:complexType>
			<xsd:attribute ref = "href"/>
			<xsd:attribute ref = "MIMEtype" use = "required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "InternalSVG">
		<xsd:complexType/>
	</xsd:element>
	<xsd:attribute name = "Zsection" default = "" type = "xsd:integer"/>
	<xsd:attribute name = "WaveNumber" default = "" type = "xsd:integer"/>
	<xsd:attribute name = "TimePoint" default = "" type = "xsd:integer"/>
	<xsd:element name = "Fluor" type = "xsd:string"/>
	<xsd:attribute name = "MIMEtype" default = "" type = "xsd:string"/>
	<xsd:attribute name = "ExternRef" type = "xsd:string"/>
	<xsd:element name = "Centroid">
		<xsd:complexType>
			<xsd:attribute ref = "X" use = "required"/>
			<xsd:attribute ref = "Y" use = "required"/>
			<xsd:attribute ref = "Z" use = "required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Project">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Experimenter" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute ref = "Name" use = "required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:attribute name = "Name" type = "xsd:string"/>
</xsd:schema>
