doc/ome.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!ENTITY % id "">

<!ELEMENT omeDoc:OMEDoc (omeDoc:DataSet* , omeDoc:Thumbnail?)>

<!ELEMENT omeDoc:DataSet (omeDoc:Dimensions , omeDoc:Pixel , omeDoc:Name , omeDoc:Instrument , omeDoc:ID , omeDoc:Date , omeDoc:Experimenter , omeDoc:Vendor?)>

<!ELEMENT omeDoc:Dimensions (omeDoc:Dimension.Order , omeDoc:Dimension.X , omeDoc:Dimension.Y , omeDoc:Dimension.Z? , omeDoc:Wavelengths , omeDoc:Timepoints?)>

<!ELEMENT omeDoc:PixelType (#PCDATA)>

<!ATTLIST omeDoc:PixelType  e-dtype NMTOKEN  #FIXED 'i8' >
<!ELEMENT omeDoc:ByteOrder (#PCDATA)>

<!ATTLIST omeDoc:ByteOrder  e-dtype NMTOKEN  #FIXED 'ENUMERATION' >
<!ELEMENT omeDoc:Dimension.Y (omeDoc:PixelSize , omeDoc:Dimension.Extent)>

<!ELEMENT omeDoc:Dimension.Order (#PCDATA)>

<!ATTLIST omeDoc:Dimension.Order  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT omeDoc:Wavelengths (omeDoc:Dimension.Extent , omeDoc:Wavelength+)>

<!ELEMENT omeDoc:Timepoints (omeDoc:TimeIncrement , omeDoc:Dimension.Extent)>

<!ELEMENT omeDoc:Dimension.Z (omeDoc:PixelSize , omeDoc:Dimension.Extent)>

<!ELEMENT omeDoc:Dimension.X (omeDoc:PixelSize , omeDoc:Dimension.Extent)>

<!ELEMENT omeDoc:Dimension.Extent (#PCDATA)>

<!ATTLIST omeDoc:Dimension.Extent  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT omeDoc:Pixel (omeDoc:PixelType , omeDoc:ByteOrder)>

<!ELEMENT omeDoc:Name (#PCDATA)>

<!ATTLIST omeDoc:Name  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT omeDoc:Thumbnail (#PCDATA)>

<!ELEMENT omeDoc:Instrument (#PCDATA)>

<!ATTLIST omeDoc:Instrument  e-dtype NMTOKEN  #FIXED 'IDREF' >
<!ELEMENT omeDoc:ID (#PCDATA)>

<!ATTLIST omeDoc:ID  e-dtype NMTOKEN  #FIXED 'ID' >
<!ELEMENT omeDoc:Date (#PCDATA)>

<!ATTLIST omeDoc:Date  e-dtype NMTOKEN  #FIXED 'dateTime' >
<!ELEMENT omeDoc:Experimenter (#PCDATA)>

<!ATTLIST omeDoc:Experimenter  e-dtype NMTOKEN  #FIXED 'IDREF' >
<!ELEMENT omeDoc:Wavelength (#PCDATA)>

<!ATTLIST omeDoc:Wavelength  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT omeDoc:TimeIncrement (#PCDATA)>

<!ATTLIST omeDoc:TimeIncrement  e-dtype NMTOKEN  #FIXED 'float' >
<!ELEMENT omeDoc:PixelSize (#PCDATA)>

<!ATTLIST omeDoc:PixelSize  e-dtype NMTOKEN  #FIXED 'float' >
<!ELEMENT omeDoc:BigEndian EMPTY>

<!ELEMENT omeDoc:LittleEndian EMPTY>

<!ELEMENT ome:Experimenter (ome:Email , ome:FirstName , ome:LastName)>

<!ELEMENT ome:Email (#PCDATA)>

<!ATTLIST ome:Email  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT ome:FirstName (#PCDATA)>

<!ATTLIST ome:FirstName  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT ome:LastName (#PCDATA)>

<!ATTLIST ome:LastName  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT ome:Instrument (ome:Vendor , ome:Model)>

<!ELEMENT ome:Vendor (#PCDATA)>

<!ATTLIST ome:Vendor  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT ome:Model (#PCDATA)>

<!ATTLIST ome:Model  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT omeDoc:Vendor ANY>

<!ATTLIST omeDoc:Vendor  id CDATA  #IMPLIED >
